In [4]:
import numpy as np
import pandas as pd

scores = np.random.randint(1000,10000,size=(50,5))
df1 = pd.DataFrame(scores,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
df1.index.name='學號'
df1.columns.name="科目"
df1

科目    國文    英文    數學    地理    歷史
學號
1   5300  5412  4852  7106  4735
2   8424  9598  2590  7403  1017
3   8424  4986  5239  8300  5929
4   7620  6765  7676  2292  9769
5   8117  3526  8714  1562  8485
6   7317  8314  6040  4814  4912
7   1625  3617  9297  4033  5937
8   3313  3761  3510  4368  3193
9   3745  2917  9845  8410  5636
10  9519  6564  1407  2886  1810
11  7901  8233  5540  8254  1025
12  4245  9263  9121  8598  5875
13  8049  5090  1594  9834  1913
14  5947  9830  1828  9785  7166
15  3505  5873  6054  4174  9303
16  9851  9740  3916  5789  5277
17  6228  1593  2797  8585  6080
18  5091  2645  7399  6831  1289
19  7618  4135  7855  3965  4865
20  9991  2458  4041  7109  3524
21  5943  1950  5059  1002  3362
22  2074  7381  7892  5355  2242
23  3904  8798  5997  9686  4905
24  1068  5214  7391  1111  9478
25  7657  2227  3599  2209  1684
26  6791  6271  1253  8152  7062
27  8703  1459  9911  8692  1555
28  3550  5058  7880  7015  1122
29  1524  1595  3159  2419  1488
30  8522  1626  2313  5489  6612
31  4141  6861  2892  4620  2616
32  2734  3113  7235  1374  4970
33  1389  1990  1224  1690  1433
34  2253  7018  9775  8292  1730
35  3278  9850  8680  4238  7413
36  9617  2323  1769  1254  5705
37  4128  1113  7620  5587  2811
38  8408  6887  2199  7922  3146
39  2499  1996  5863  6352  7093
40  1758  2937  2768  1803  5385
41  1791  4277  7662  9935  6287
42  7480  2799  7388  8326  2678
43  8500  7586  7632  5358  4149
44  1190  8805  2932  1389  6253
45  3683  3694  9649  7029  4225
46  8324  9798  1642  4978  9937
47  8263  7187  2245  1505  2423
48  8965  8675  6298  4436  7791
49  6302  5040  2544  8747  2573
50  3028  8268  3628  6409  1525

In [5]:
# https://pandas.pydata.org/docs/user_guide/style.html

df1.style \
.format(thousands=',')

In [6]:
df2 = df1.style \
.highlight_max(props='color:white; font-weight:bold; background-color:darkblue') \
.highlight_min(props='color:white; font-weight:bold; background-color:darkred')
df2.to_excel('3年2班.xlsx')

In [7]:
df1.style \
.highlight_between(axis=1,color='red',left=1000,right=3000)