In [1]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.782346
   2   -1.112838
   3    1.153516
b  1    0.505731
   2    0.173143
c  3   -0.226624
   1   -0.055918
d  2    0.057332
   3    0.703361
dtype: float64

In [2]:
data[['a','c']]

a  1   -0.782346
   2   -1.112838
   3    1.153516
c  3   -0.226624
   1   -0.055918
dtype: float64

In [3]:
data['a':'c']

a  1   -0.782346
   2   -1.112838
   3    1.153516
b  1    0.505731
   2    0.173143
c  3   -0.226624
   1   -0.055918
dtype: float64

In [4]:
#堆疊資料stack()  非堆疊資料unstack()
#樞紐分析表
display(data)
data.unstack()

a  1   -0.782346
   2   -1.112838
   3    1.153516
b  1    0.505731
   2    0.173143
c  3   -0.226624
   1   -0.055918
d  2    0.057332
   3    0.703361
dtype: float64

          1         2         3
a -0.782346 -1.112838  1.153516
b  0.505731  0.173143       NaN
c -0.055918       NaN -0.226624
d       NaN  0.057332  0.703361